# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
eggs/
.eggs/
wheels/
*.egg-info/
.installed.cfg
MANIFEST

# =========================
# Virtual Environments
# =========================
venv/
ENV/
.venv/

# =========================
# Environment Variables
# =========================
.env
.env.local
.env.*.local

# =========================
# Database
# =========================
*.sqlite
*.sqlite3

# =========================
# Uploads (VERY IMPORTANT)
# =========================
backend/static/uploads/

# =========================
# Logs & Cache
# =========================
*.log
.coverage
htmlcov/
.webassets-cache
instance/

# =========================
# IDE / Editor
# =========================
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.swp
*.swo

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# =========================
# Production
# =========================
/staticfiles/
